<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<body>
    <div class="mainFooter">
        <div class="mainInfo">
            <div class="aiInfo">
                <h1>Artificial Intelligence</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, deserunt
                    <br>quo incidunt facere, quis reiciendis illo nemo voluptatem eligendi saepe itaque
                    <br>commodi repudiandae eum veritatis et labore aperiam unde mollitia.
                </p>
                <p>Company@gmail.com</p>
                <p>Phone: (064) 332-1233</p>
                <p>450 Wall Street, USA, New York</p>
            </div>
        </div>
        <div class="secondInfo">
            <h1>INFORMATION</h1>
            <p>New collection</p>
            <p>Contact Us</p>
            <p>Latest News</p>
            <p>Our sitemap</p>
            <p>Orders history</p>
        </div>
        <div class="footerMenu">
            <h1>FOOTER MENU</h1>
            <p>Instagram profile</p>
            <p>New Collection</p>
            <p>Contact Us</p>
            <p>Latest News</p>
            <p>News & Conditions</p>
            <p>Purchase Theme</p>
        </div>
        <div class="mainLinks">
            <h1>USEFUL LINKS</h1>
            <p>New collection</p>
            <p>Contact Us</p>
            <p>Latest News</p>
            <p>News & Conditions</p>
            <p>Purchase Theme</p>
        </div>
        <div class="socialNetworks">
            <h1>About the store</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, deserunt
                <br>quo incidunt facere, quis reiciendis illo nemo voluptatem eligendi saepe itaque
                <br>commodi repudiandae eum veritatis et labore aperiam unde mollitia.
            </p>
            <p>www.company.com</p>
        </div>
    </div>
</body>
</html>
