<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <header class = 'header'>
        <nav class="nav">
            <div class="aiPic">
                <img src="../img/Group 396.png" alt="">
                <h1 class="nameProject">Artificial Intelligience</h1>
            </div>
            <div class="aiLies">
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Blog</li>
            <li>Contact</li>
            </div>
            <div class="aiBtn">
                <button class="aiButton">Sign In</button>
            </div>
        </nav>
    </header>
</body>
</html>